*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.forgot-password-wrapper{
    display: flex;
    align-items: center;
}

.back{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 35px;
    
}
.back h6{
    font-size: 20px;
    font-weight: 400;
    color: #131118;
    font-family:  "Jost", sans-serif;
}
.back i{
    font-size: 30px;
}
.forgot-password-box{
    display: flex;
    flex-direction: column;
    font-family:  "Jost", sans-serif;
    padding-left: 60px;
}
.forgot-password-intro{
    margin-bottom: 20px;
}
.forgot-password-intro h1{
   font-family: "jost", sans-serif;
   font-size: 30px;
   color: #131118;
}


.forgot-password-intro h6{
    color: #A4A1AA;
    font-weight: 400;
    
   margin-top: 10px;
    font-size: 16px;
    width: 450px;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 13px;
}

.email small{
    text-transform: capitalize;
    font-weight: 500;
    color: #131118;
    font-family:  "Jost", sans-serif;
}

.email input{   
    outline: none;
    width: 450px;
    border-radius: 10px;
    height: 54px;
    border: 2px solid #131118;
    padding-left: 20px;
}


.email input::placeholder{
    color: #000000;
    
    font-weight: 400;
    font-size: 17px;
    font-family:  "Jost", sans-serif;
}




.btn button{
    outline: none;
    border: none;
    background-color: #131118;
    color: #ffffff;
    width: 450px;
    border-radius: 10px;
    height: 58px;
    text-transform: capitalize;
    font-size: 18px;
    font-family:  "Jost", sans-serif;
    font-weight: 300;
    margin-top: 20px;
}